html,
body{
    @apply text-primary;
}

html.wf-roboto-n4-active body{
    @apply font-body;
}

h1, 
.h1{
    @apply font-normal;
    @apply leading-tight;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
}

.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.h-full{
    height: 100%;
}

.button {
    @apply inline-block;
    @apply pt-2;
    @apply pb-1;
    @apply border-b;
    @apply border-secondary;
    @apply font-light;
    @apply uppercase;
}
