@tailwind base;

html,
body{
    @apply text-primary;
    @apply text-xl;
    @apply font-light;
}

html.wf-sourcesanspro-n3-active body{
    @apply font-body;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
    @apply font-header;
    @apply font-semibold;
}

p{
    @apply mb-2; 
}

.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

[data-aos-easing][data-aos-easing] [data-aos][data-aos]:not(.aos-animate){
    transition-duration: 0s;
}

.img-animation {
    transition: all 0.3s;
}

.img-animation:hover {
    transform: scale(1.1);
}

@tailwind components;

.link-styled{
    @apply no-underline; 
    @apply border-b-2;
    @apply border-secondary;
    @apply text-primary;
    @apply pb-1;
    @apply uppercase;
    @apply text-sm;
}

.link-unstyled{
    @apply no-underline; 
    @apply border-b-2;
    @apply border-transparent;
    @apply text-primary;
    @apply pb-1;
    @apply uppercase;
    @apply text-sm;
}

.link-unstyled:hover{
    @apply border-secondary;
}

@tailwind utilities;