html,
body{
    @apply text-secondary;
    @apply text-xl;
    @apply font-light;
}

html.wf-sourcesanspro-n3-active body{
    @apply font-body;
}

.container{
    @apply px-2;
}

.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

[data-aos-easing][data-aos-easing] [data-aos][data-aos]:not(.aos-animate){
    transition-duration: 0s;
}

.img-animation {
    transition: all 0.3s;
}

.img-animation:hover {
    transform: scale(1.1);
}